.glass_glitch {
    background: rgb(0, 17, 255);
    backdrop-filter: blur(8px);
    border: solid 1px #ffffff;
    box-shadow: 0px 0px 78px 0px rgb(238, 255, 0)
}

.glicthed {
  content: "";
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  animation: glitch 0.3s infinite;
}

@keyframes glitch {
  0% {
      transform: translate(0);
  }
  5% {
      transform: translate(-5px, -5px);
  }
  10% {
      transform: translate(5px, 5px);
  }
  15% {
      transform: translate(-5px, 5px);
  }
  20% {
      transform: translate(5px, -5px);
  }
  25% {
      transform: translate(-5px, 5px);
  }
  30% {
      transform: translate(5px, -5px);
  }
  35% {
      transform: translate(-5px, 5px);
  }
  40% {
      transform: translate(5px, -5px);
  }
  45% {
      transform: translate(-5px, 5px);
  }
  50% {
      transform: translate(5px, -5px);
  }
  55% {
      transform: translate(-5px, 5px);
  }
  60% {
      transform: translate(5px, -5px);
  }
  65% {
      transform: translate(-5px, 5px);
  }
  70% {
      transform: translate(5px, -5px);
  }
  75% {
      transform: translate(-5px, 5px);
  }
  80% {
      transform: translate(5px, -5px);
  }
  85% {
      transform: translate(-5px, 5px);
  }
  90% {
      transform: translate(5px, -5px);
  }
  95% {
      transform: translate(-5px, 5px);
  }
  100% {
      transform: translate(0);
  }
}

.glicthed::after {
  content: "";
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* animation: flicker 0.5s infinite; */
  animation: sizeChange 2s infinite;
}

@keyframes flicker {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}